*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  width: 1140px;
  height: 534px;
  /* position: absolute; */
  /* margin: auto 30px; */

}

/* первая секция */
.result {
  display: grid;
  grid-column: 1/2;
  grid-template-rows: 464px 70px;
}

.result__video-container {
  /* position: relative; */
  grid-row: 1/2;
  display: flex;
  flex-grow: 1;
  /* width: 711px;
  height: 386px; */
  margin-top: 78px;
  object-fit: cover;
  object-position: right;
/* ДА ПОЧЕМУ НЕ РАБОТАЕТ?????? */
}

.result__video {
  object-fit: cover;
  object-position: right;
}

.search-form {
  grid-row: 2/3;
  display: flex;
  height: 54px;
  margin-top: 16px;
  column-gap: 40px;
  border: none;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__fieldset {
  width: 212px;
  height: 49px;
  border: none;
}

/* Питер, например */
.search-form__textfield {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  background-color: transparent;
  min-inline-size: 225px;
}

.search-form__checkbox 

/* поле для галочки */
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  user-select: none;
}

/* .search-form__pseudo-checkbox:active {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
} */

.search-form__checkbox

.search-form__label-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__submit-button {
  height: 34px;
  width: 194px;
}

/* кнопки в двух секциях */
.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  align-items: end;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

/* вторая секция */

.content__details {
  display: grid;
  grid-column: 2/3;
  grid-template-rows: 210px 298px;
  row-gap: 26px;
}

/* текст смотри в окно */
.title {
  grid-row: 1/2;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

/* положенная ему приставка ПО- */
.content__accent {
  color: #545050;
}

/* контейнер вне темплейтов */
.content__list-container {
  grid-row: 2/3;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
  
}

/* список вне темплейтов */
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* элемент списка внутри темплейтов */
.content__list-item {
  column-gap: 30px;
  row-gap: 30px;
  padding-right: 3px;
}

/* контейнер внутри темплейтов */
.content__video-card {
  display: flex;
  justify-content: space-between;
}

/* контейнер для текста карточки */
.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
  max-height: 130px;
  text-overflow: ellipsis;
}

/* титул карточки - город */
.content__video-card-title {
  overflow: hidden;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  text-decoration-color: transparent;
  text-wrap: wrap;
  margin-bottom: 6px;
}

/* текст карточки */
.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 1; посмотреть, чем заменить*/
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  color: #fff;
  text-decoration: none; /* не работает */
  text-decoration-color: transparent;
  /* text-wrap: wrap; */
}

/* картинка-превью */
.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  background-color: transparent;
} 
/* какого-то лешего не работает */


/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
